.header {
    display: flex;
    background-color: green;
    color: white;
    height: 60px;
    .createHeader {
        margin-left: 15px;
        margin-top: 20px;
    }
    img {
        margin-left: 2%;
    }
}
.flexes {
    display: flex;
}

.addPhoto {
    height: 120px;
    background-color: lightgray;
    font-size: 18px;
}
